<div id="<%= dom_id comment %>">
  <% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>
  <%= link_to "Edit this comment", edit_article_comment_path(comment.article,comment ) %>
   <%= link_to "delete this comment", article_comment_path(comment.article,comment ) , method: :delete%>
   <% end %>

</div>
