<%= simple_form_for(article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
  </div>

  <div>
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(Visible::VALID_STATUSES.reject{|s| s == 'archived'}), selected: 'public' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
