<p style="color: green"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Password :</strong>
    <%= @user.password %>
  </p>

<div>
  <%= link_to "修改密码", edit_user_path(@user) %> |
  <%= link_to "用户列表", users_path %>

  <%= button_to "注销该用户", @user, method: :delete %>
</div>
