<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
     
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
     
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

   <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" > 
      <div class="container-fluid justify-content-end"> 

        <div class="d-flex bd-highlight">
          <div class="p-2 bd-highlight">
            <%= link_to "注册","/signin" %>
          </div>
          <% if user_signed_in? %>
            <div class="p-2 bd-highlight">
              <%= link_to '用户页面', user_path(current_user) , class: 'show', method: :get%>
            </div>
            <div class="p-2 bd-highlight">
              <%= link_to '退出登陆', logout_path, class: 'logout', method: :delete %>
            </div>
          <% else %>
            <div class="p-2 bd-highlight">
              <li><%= link_to '登录', login_path, class: 'login', method: :post %></li>
            </div>
          <% end %>
        </div>
      </div> 
    </nav>
    <%= yield %>
  </body>
</html>
